/* You can add global styles to this file, and also import other style files */

@import './variables';
[hidden] { display: none !important;}
body {
    background: $dark;
    color: $light;
}

a {
    color: $light;
}
.stalker a {
    color: $dark;
}
h1{
    margin: auto;
    padding-bottom:0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 16px $dark;
}
.stalker h1{
    text-shadow: 0 0 16px $light;
}
#app,
.stalker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    min-height: 90vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 1fr;
    grid-gap: 1rem;
    z-index: 999;
    top-navigation,
    main,
    footer-navigation {
        grid-column: 1/13;
    }
    top-navigation {
        grid-row: 1/2;
    }
    main {
        grid-row: 2/3;
    }
    footer-navigation {
        grid-row: 3/4;
    }
}

.stalker {
    color: $dark;
    a.link {
        color: $dark;
    }
}

.dark-bg {
    background: $dark;
    color:$light;
    h1,h2,h3,h4,h5,h6,a,span,p{
        color:$light;
    }
}

.light-bg {
    background: $light;
    color: $dark;
    h1,h2,h3,h4,h5,h6,a,span,p{
        color: $dark;
    }
}

.stalker .light-bg {
    background-color: $dark !important;
    color: $light;
    h1,h2,h3,h4,h5,h6,a,span,p{
        color: $light;
    }
    > h1, > h2, > h3, > h4, > h5, > h6, > a, > span, > p{
        color: $light;
    }
}

.stalker .dark-bg {
    background-color: $light !important;
    color: $dark;
    h1,h2,h3,h4,h5,h6,a,span,p{
        color: $dark;
    }
    > h1, > h2, > h3, > h4, > h5, > h6, > a, > span, > p{
        color: $dark;
    }
}

.stalker {
    mask-image: url("/assets/clip-image.png");
    mask-repeat: no-repeat;
    mask-origin: center;
    mask-size: 600px;
    animation: spotlight .3s linear infinite;
}

@keyframes spotlight {
    0% {
        mask-image: url("/assets/clip-image.png");
    }
    33% {
        mask-image: url("/assets/clip-image1.png");
    }
    66% {
        mask-image: url("/assets/clip-image2.png");
    }
    100% {
        mask-image: url("/assets/clip-image3.png");
    }
}