<div class="text-center dark-bg">
  <h2>
    <strong>Phone</strong>
    <a href="tel:07983382572"> 07983 382572</a>
  </h2>
  <h2>
    <strong>Email</strong>
    <a href="mailto:tris@tristolliday.com"> tris@tristolliday.com</a>
  </h2>
</div>

<div class="cv text-left light-bg">
  <section class="title">
    <h3>
      Curriculum Vitae
    </h3>
    <hr>
  </section>
  <section class="exp">
    <h4>Experience</h4>
    <h5>Walker Agency</h5>
    <h6>Lead Front End Developer</h6>
    <p>May 2015 – Present (3 yrs 3 mos)</p>
    <dl>
      <dt>Responsabilities</dt>
      <dd>Lead Front end on Responsive sites</dd>
      <dd>Building Sites to Clients Specs</dd>
      <dd>Maintaining Large Code Bases</dd>
      <dd>Optimising Sites inline with best practices</dd>
      <dd>Design and Build Responsive Emails</dd>
      <dd>Progressive enhancement and SEO</dd>
    </dl>
    <h5>Beales</h5>
    <h6>Creative Digital Designer</h6>
    <p>Dates Employed Jul 2013 – Apr 2015 (1 yrs 10 mos)</p>
    <dl>
        <dt>
          Responsabilities
        </dt>
        <dd>
          Web Designer accustomed to HTML &amp; CSS
        </dd>
        <dd>
          Handling the ongoing redesign of ecommerce platform
        </dd>
        <dd>
          Partner with Development, Marketing &amp; Trade teams
        </dd>
        <dd>
          Regular update of homepage
        </dd>
        <dd>
          Emailer Design
        </dd>
        <dd>
          Using CMS software
        </dd>
        <dd>
          Social Media Design
        </dd>
    </dl>
    <h5>Coffee Club Collective</h5>
    <h6>Creative Lead</h6>
    <p>Oct 2011 – Apr 2014 (2 yrs 7 mos)</p>
    <dl>
        <dt>
          Responsabilities
        </dt>
        <dd>
          Manage Illustration groups activity
        </dd>
        <dd>
          Organising and setting up event at Somerset house
        </dd>
        <dd>
          Organise production and publication of Coffee Table Book 'Coffee Club Almanac'
        </dd>
    </dl>
  </section>
  <section class="skill">
    <h4>Skills</h4>

    <h5>
      Development
    </h5>
    <dl>
      <dt>
        Javascript
      </dt>
      <dd>
        <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 85%">
                <p class="progress-meter-text">Angular</p>
            </div>
          </div>
      </dd>
      <dd>
        <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 80%">
                <p class="progress-meter-text">Gulp</p>
            </div>
          </div>
      </dd>
      <dd>
        <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 90%">
                <p class="progress-meter-text">Jquery</p>
            </div>
          </div>
      </dd>
      <dd>
        <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 80%">
                <p class="progress-meter-text">NodeJS</p>
            </div>
          </div>
      </dd>
    </dl>
  <dl>
      <dt>
        HTML / CSS3
      </dt>
      <dd>
        <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 95%">
              <p class="progress-meter-text">SCSS / SASS</p>
            </div>
          </div>
      </dd>
      <dd>
        <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 90%">
              <p class="progress-meter-text">Foundation</p>
            </div>
          </div>
      </dd>
      <dd>
        <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 95%">
              <p class="progress-meter-text">CSS</p>
            </div>
          </div>
      </dd>
  </dl>

    <dl>
        <dt>
            Programs
          </dt>
        <dd>
          <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 85%">
              <p class="progress-meter-text">Visual Studio</p>
            </div>
          </div>
        </dd>
        <dd>
          <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 80%">
              <p class="progress-meter-text">Sourcetree (Git)</p>
            </div>
          </div>
        </dd>
        <dd>
          <div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
            <div class="progress-meter" style="width: 75%">
              <p class="progress-meter-text">Adobe CC</p>
            </div>
          </div>
        </dd>
      </dl>

  </section>
  <section class="education">
      <h4>Education</h4>
      <h5>Ba(Hons): Visual Communication</h5>
      <h6>Second Class: Division I</h6>
      <p>Birmingham City University 2009 – 2012</p>
      <h5>BTEC National Diploma: Graphic Design</h5>
      <h6>Merit</h6>
      <p>Somerset College of Art and Technology 2007 – 2009</p>
  </section>
  <section class="other">
      <h4>Out of the Office</h4>
      <h5>Bournemouth Pier to Pier Swim</h5>
      <p>The Bournemouth Pier to Pier Swim is a 1.4
          mile swimathon to raise money and awareness for the BHF. Swimming with my partner, we raised over £1200
      </p>
      <h5>Even more</h5>
      <p>I enjoy travelling the world, listening to music, and attempting to play the Ukelele. I am currently learning Japanese.</p>
  </section>
</div>
