@import '../../sass/variables';
@import '../../sass/settings';
@import 'foundation';

.cv{
    display:grid;
    max-width:1200px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "exp skill"
    "exp edu"
    "other edu";
    @include breakpoint(small only) {
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "exp"
        "skill"
        "edu"
        "other"; 
    }

    .title{
        grid-area: title;
        padding-bottom:0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .exp{
        grid-area: exp;
    }
    .skill {
        grid-area: skill;
    }
    .education{
        grid-area: edu;
    }
    .other{
        grid-area: other;
    }
    section {
        padding:2rem;
    }
    p.progress-meter-text {
        color:$light;
    }
}