<h1>Portfolio</h1>
<div class="light-bg work">
    <div *ngFor="let project of projects" class="light-bg overflow-hidden"><a (click)="selectedProject(project)">
      <img class="front-image" src="assets/{{project.imgsrc}}" alt="{{project.name}}"/>
      <img class="back-image" src="assets/{{project.imgsrcalt}}" alt="{{project.name}}"/>
    </a>
  </div>
</div>
<div class="dark-bg project" *ngIf="project !== undefined">
        <h1 class="title">{{project.name}}</h1>
        <img class="img" src="{{project.heroimg}}" alt=""/>
        <img class="img" src="{{project.heroimg2}}" alt=""/>
        <img class="img" src="{{project.heroimg3}}" alt=""/>
        <h4 class="client">{{project.client}}</h4>
        <p class="description">
          {{project.description}}
        </p>
        
</div>