@import '../../sass/variables';
@import '../../sass/settings';
@import 'foundation';
:host {
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    padding-bottom: 1rem;
    background:$dark;
}

.overflow-hidden {
    overflow: hidden;
}

.work {
    padding: 2rem; //min-height:calc(100vh - 50px);
    display: grid;
    @include breakpoint(small only) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    @include breakpoint(medium only) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    @include breakpoint(large) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 1200px;
        margin: 0 auto;
    }
    grid-gap: 1rem;
    justify-content: center;
    .back-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        min-height: 100%;
        min-width: 100%;
    }
    .front-image {
        z-index: 3;
    }
    .back-image {
        z-index: 2;
        mask-size: 0;
        mask-origin: center;
        mask-position: center;
        animation: spotlight .2s linear infinite;
    }
    div {
        position: relative;
        min-height: 85px;
        background: #191919;
        @include breakpoint(medium) {
            min-height: 200px;
            grid-column: span 1;
            grid-row:span 1;
        }
        @include breakpoint(large) {
            min-height: 140px;
        }
    }
    div:hover .back-image {
        z-index: 4;
        mask-image: url("/assets/clip-image.png");
        mask-repeat: no-repeat;
        mask-origin: center;
        mask-position: center;
        mask-size: 90%;
        animation: spotlight .2s linear infinite;
    }
    div:nth-child(1) {
        z-index: 4;
        @include breakpoint(small only) {
            grid-column: span 1;
            grid-row: span 1;
        }
        @include breakpoint(large) {
            grid-column: 1/3;
            grid-row: 1/3;
        }
    }
    div:nth-child(2) {
        z-index: 1;
        @include breakpoint(small only) {
            grid-column: span 1;
            grid-row: span 1;
        }
        @include breakpoint(large) {
            grid-column: 3/4;
            grid-row: 1/2;
        }
    }
    div:nth-child(3) {
        z-index: 3;
        @include breakpoint(small only) {
            grid-column: span 2;
            grid-row: span 2;
        }
        @include breakpoint(large) {
            grid-column: 1/2;
            grid-row: 3/4;
        }
    }
    div:nth-child(4) {
        @include breakpoint(small only) {
            grid-column: span 1;
            grid-row: span 1;
        }
        @include breakpoint(large) {
            grid-column: 2/4;
            grid-row: 2/4;
        }
        z-index:2;
    }
    div:nth-child(5) {
        @include breakpoint(small only) {
            grid-column: span 1;
            grid-row: span 1;
        }
        @include breakpoint(large) {
            grid-column: 4/6;
            grid-row: 1/3;
        }
        z-index:4;
    }
    div:nth-child(6) {
        @include breakpoint(small only) {
            grid-column: span 2;
            grid-row: span 2;
        }
        @include breakpoint(large) {
            grid-column: 6/7;
            grid-row: 1/2;
        }
        z-index:1;
    }
    div:nth-child(7) {
        @include breakpoint(small only) {
            grid-column: span 1;
            grid-row: span 1;
        }
        @include breakpoint(large) {
            grid-column: 4/5;
            grid-row: 3/4;
        }
        z-index:3;
    }
    div:nth-child(8) {
        @include breakpoint(small only) {
            grid-column: span 1;
            grid-row: span 1;
        }
        @include breakpoint(large) {
            grid-column: 5/7;
            grid-row: 2/4;
        }
        z-index:2;
    }
    &.dark-bg {
        div {
            box-shadow: 0 0 2rem 0.4rem rgba(0, 0, 0, 0.5);
        }
    }
    &.light-bg {
        div {
            box-shadow: 0 0 2rem 0.4rem rgba(0, 0, 0, 0.1);
        }
    }
}

.project {
    padding: 2rem;
    display: grid;
    grid-template-areas: "title title title" "img1 img2 img3" "client client client" "description description description"; //grid-gap:1rem;
    max-width: 1200px;
    margin: auto;
    .title {
        grid-area: title;
    }
    .img {
        &:nth-child(2) {
            grid-area: img1;
            width: 80%;
            margin: auto;
        }
        &:nth-child(3) {
            grid-area: img2;
        }
        &:nth-child(4) {
            grid-area: img3;
            width: 80%;
            margin: auto;
        }
    }
    .client {
        grid-area: client;
    }
    .description {
        grid-area: description;
    }
}