<!--The content below is only a placeholder and can be replaced.-->
<div id="app" (document:mousemove)="spotlight($event)">
<top-navigation></top-navigation>
<main [@routerTransition]="getState(o)">
<router-outlet #o="outlet"></router-outlet>
</main>
</div>

<div [hidden]="p.activated === null" class="stalker" [ngStyle]="positionMask(mx,my)">
<top-navigation></top-navigation>
<main class="dark-bg" [@routerTransition]="getState(o)">
    <router-outlet #p="outlet" name="aux"></router-outlet>
</main>
</div>