:host {
  display: grid;
  grid-template-areas: 
  "title title title" 
  "img1 img2 img3" 
  "client client client" 
  "description description description";
  //grid-gap:1rem;
  max-width: 1200px;
  margin:auto;
}

.title {
    grid-area: title;
}

.img {
  &:nth-child(2) {
    grid-area: img1;
    width:80%;
    margin:auto;
  }
  &:nth-child(3) {
    grid-area: img2;
  }
  &:nth-child(4) {
    grid-area: img3;
    width:80%;
    margin:auto;
  }
}

.client{
    grid-area: client;
}

.description {
    grid-area: description;
}
