<h1 class="title">{{project.name}}</h1>
<img class="img" src="{{project.heroimg}}" alt=""/>
<img class="img" src="{{project.heroimg2}}" alt=""/>
<img class="img" src="{{project.heroimg3}}" alt=""/>
<h4 class="client">{{project.client}}</h4>
<p class="description">
  {{project.description}}
</p>
