<nav class="text-center">
  <div [id]="link.id" *ngFor="let link of links" class="nav-cell">
    <a class="link button clear" routerLink="{{link.link}}" routerLinkActive="active">
      <span class="h4"> {{link.name | uppercase}} </span>
      <!--<img *ngIf="link.id == 'home-link'" src="/assets/logo.png"/>-->
    </a>
  </div>
</nav>
