@import '../../sass/variables';
nav {
    grid-column:1/13;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    #home-link{
        grid-column:1/5;
        justify-self:start;
    }
    a.link.button{
        color:$light;
    }
    .link .h4{
        background-color:$dark;
    }
}