:host,div {
    display:flex;
    min-height:calc(100vh - 50px);
    width:100%;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;

}
